.wrap {
  background-color: white;
  min-height: 100vh;
  max-width: 800px;
  display: flex;
  margin: auto;
}

.container {
  background-color: gray;
  flex: 1;
  max-width: 100%;
}

.contents {
  background-color: rgba(0, 255, 0, 0.5);
  padding: 2em;
  height: 300px;
}

.item-wrap {
  position: relative;
  display: flex;
  overflow-x: auto;
  margin: auto;
  margin-top: -100px;
  color: white;
  width: 500px;
}

.item {
  border: green 1px solid;
  position: relative;
} 

.item-value {
  background-color: #282c34;
  min-width: 200px;
  height: 100px;
  border: white 1px solid;
}
